<h1> <%= @article.title %></h1>
<p><%= @article.content %></p>

<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to "<i class=\"fa fa-trash-alt\"></i>".html_safe, article_path(@article),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
<br>
<%= link_to 'Back to main list', articles_path %>

